<!doctype html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
<body>
    <div class="container">
        {% include "admin_menu.njk" %}
        {% block contenido %}
        {% endblock %}
    </div>
</body>
</html>