<!doctype html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
<body>
    <div class="container">
        <div class="navbar navbar-light alert alert-secondary">
            <a class="btn btn-dark btn-lg" href="/">Inicio</a>
            &nbsp;&nbsp;
            <a class="btn btn-dark btn-lg" href="/admin/">Administración</a>
            &nbsp;&nbsp;
            {% if (session and session.usuario) %}
            <a class="btn btn-dark btn-lg" href="/auth/logout">Logout</a>
            {% else %}
            <a class="btn btn-dark btn-lg" href="/auth/login">Login</a>
            {% endif %}
        </div>
        {% block contenido %}
        {% endblock %}
    </div>
</body>
</html>